.areaRegister{
  width: 840px;
  border-radius: 5px;
  border:1px solid rgba(0,0,0,.2) ;
  padding: 40px 32px;
  margin-top: 30px;
}
.areaRegister label{
  color: rgba(0,0,0,0.5) !important;
    font-size: 14px !important;
    font-weight: bold !important;
    letter-spacing: 0.03rem !important;
}
.areaRegister input, .form-select{
  border-radius: 5px !important;
  border:1px solid rgba(0,0,0,.2) !important;
  font-size: 14px !important;
  font-weight: 300 !important;
  letter-spacing: 0.03rem !important;
  color: #1d1d1d !important;
  transition: all 0.3s ease !important;
  outline: none !important;
}
#phone{
  width: 35% !important; 
} 

.areaRegister input:focus{
  box-shadow: none !important;
  border-bottom-width:2px !important;
}



@media screen and (max-width: 1200px){
 
      /* Register */
      .areaRegister{
       width: 640px;
     }
}

@media screen and (max-width: 768px) {
  .registerButton{
      background-color: transparent !important;
      color: #fff !important;
      padding-left: 5px;
  }
  .navbar-brand{

      margin-right: 100px !important;
  }
 
   
}

@media screen and (max-width: 576px){
 
   /* Register */
   .areaRegister{
     width: 440px;
   }
   .btnRegister{
     width: 100% !important;
   }
   
}
@media screen and (max-width: 425px){
 .areaRegister{
   width: 410px;
   border: none !important;
 }
 @media screen and (max-width: 375px){
   .areaRegister{
     width: 360px;
     border: none !important;
   } 
 }
}
@media screen and (max-width: 320px){
  
    /* Register */
   .areaRegister{
     width: 310px;
     border: none !important;
   }
   #phone{
     width: 47% !important;
   } 
}