
<head>
     <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'> 
</head>




<div class="arealogin">
    <div class="container ">
        <h1>ProtecFree</h1>
        <form action="">
            <label for="email">Email</label>
            <div class="custome-input">
                <input type="email" name="email" placeholder="Digite o seu email" >
                <i class='bx bx-at'></i>
            </div>

            <label for="password">Palavra-Passe</label>
            <div class="custome-input">
                <input type="password" name="password" placeholder="Digite a sua palavra passe" >
                <i class='bx bx-lock-alt'></i>
            </div>
            <button class="login">Iniciar sessão</button>

            <div class="divider">
                <div class="line"></div>
                <!-- <p>ou</p>
                <div class="line"></div> -->
               </div>

               <div class="social-login">
                <button class="google">
                   <i class='bx bxl-google'></i>
                   Iniciar sessão com conta google
                </button>
               </div>

            <div class="links">
                <a href="#">Recuperar palavra-passe</a>
                <a href="#">Registar-se agora</a>
            </div>
        </form>
    </div>
    
</div>