<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">  
</head>
<app-headertwo></app-headertwo>


    <body>
        <div class="content">
        <main>  

            <div class="areaRegister container">
                <form class="row g-3">
                    <h5>Contrato de prestaçao de serviço</h5>
                    <div class="col-md-12">
                       <p>{{ descriptionServices }}</p>
                      </div>
                       <div class="col-md-3">
                      <label for="phone" class="form-label">valor do serviço</label>
                      <input type="text" class="form-control" id="phone" name="value" [(ngModel)]="contract.value" placeholder="0000000.00">
                    </div>
                    <div class="col-md-3">
                      <label for="userName" class="form-label">Data de entrega</label>
                      <input type="date" class="form-control" name="term" [(ngModel)]="contract.term" placeholder="AAAA-MM-DD">
                    </div>
                    <div class="numeroprototipo">
                        <div class="numero">
                        <div>
                        <label class="form-label">Número de Protótipo</label>
                    </div>
                    <div>
                        <input id="prot" name="number_prototype" [(ngModel)]="contract.number_prototype" type="number">
                    </div>
                    </div>
                      </div>
                   <button type="button" (click)="enviar()">Enviar</button>
                   <button>Recusar</button>
                  </form>
            
            </div>
            




        </main>
        </div>
    </body>